 <div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<b>Friend Requests</b>
		</div>
		<div class="panel-body">
		<span ng-if="pendingRequests.length==0"><b>No Pending Requests</b></span>
			<ul style="list-style: none">
				<li ng-repeat="request in pendingRequests"><b>{{request.fromId.email}}</b>
				<b>{{request.fromId.firstname}} &nbsp; {{request.fromId.lastname}}</b><br>
				<b>{{request.fromId.phonenumber}}</b>
				<img src="http://localhost:8086/ProAngMe/getimage/{{request.fromId.email}}" alt="No image" height="40px" width="40px">
				<button type= "button" class="button button-primary" ng-click="acceptRequest(request)">Accept</button>
				<button type="button" class="button button-primary" ng-click="deleteRequest(request)">Decline</button>
				</li>
			</ul>
		</div>
	</div>
</div>